@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --background-primary: rgb(24, 24, 24);
    --color-primary: white;
    --color-secundary:#64ffda;
    --color-terc: rgba(255, 255, 255, 0.281);
    --font-primary:'Parisienne', cursive;
    --font-secundary: 'Poppins', sans-serif;
}

body{
    overflow: overlay;
}

/* Social media menu */

.container-sm{
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 10;
    animation: socialMedia 1s 1.2s both;
    opacity: 0;
}

.container-sm .social-media::after{
    content: '';
    width: 1px;
    height: 90px;
    background-color: var(--background-primary);
    display: block;
    margin: 0 auto;
    background-color: var(--color-primary);
}

.container-sm .social-media li{
    list-style: none;
    text-align: center;
}

.container-sm .social-media li a{
    color: var(--color-primary);  
    transition: color .35s ease;
}

.container-sm .social-media li a:hover{
    color: var(--color-secundary);  
}


.container-sm .social-media li a i{
    padding: 2px;
    margin-bottom: 1.5rem;
    font-size: 1.7rem; 
}

/* Header section */

.header-section{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    background-color: var(--background-primary);
}

.header-section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer{
    animation: moveBanner 1s 0.3s both;
}

.header-section h1{
    font-family: var(--font-primary);         
    font-size: 7.6rem;
    line-height: 1;
    color: var(--color-primary);
    z-index: 2;
    font-weight: 500;
    animation: moveBanner 1s 0.5s both;
    opacity: 0;
    overflow-y: hidden;
    text-align: center;
}

.header-section h3{
    font-size: 3rem;
    font-family: var(--font-secundary);
    font-weight: 300;
    color: var(--color-primary);
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
    text-align: center;
}

h3 span{
    color: var(--color-secundary);
}




/* About section */

.about-section{
    width: 100%;
    padding: 2rem 3rem 20rem;
    background-color: var(--background-primary);
    overflow-x: hidden;
}

#text-about{
    position: relative;
    font-family: var(--font-secundary);
    font-weight: 300;
    font-size: 10em;
    left: 0;
    color: var(--color-terc);
    transition: all .6s  ease-out;
    line-height: 1;
    user-select: none;
    z-index: 1;
    overflow: hidden;
}

.about-section p{
    max-width: 800px;
    color: var(--color-primary);
    margin: 0 auto;
    font-family: var(--font-secundary);
    line-height: 1.9;
    text-align: justify;
    padding: 0 2rem;
    z-index: 5;
}



/* Projects section */

.projects-section{
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
    display: flex;
}

/* Project About side  */

.projects-section .about-project{
    width: 35%;
    height: 100%;
    /* background-color: green; */
    margin-left: 7rem;
    overflow: hidden;
}
    
.projects-section .about-project h3{
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 2rem;
    padding: 2rem 0;
}

.projects-section .about-project h2{
    color: var(--color-primary);
    font-family: var(--font-secundary);
    font-size: 3.5rem;
    padding: 2rem 0;
    color: var(--color-secundary);
}

.projects-section .about-project p{
    color: var(--color-primary);
    font-family: var(--font-secundary);
    padding: 2rem 0;
    text-align: justify;
}

.projects-section .about-project .btn{
    padding: .6rem 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: var(--font-secundary);
    background-color: var(--color-terc);
    color: var(--color-primary);
    border: none;
}

.projects-section .about-project .btn:hover{
    color: var(--color-secundary);
}

.projects-section .about-project .btn:active{
    background-color: var(--color-primary);
    color:black
}


/* Project page side */

.projects-section .image-project{
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.img-mobile{
    display: none;
}

.card1{
    width: 70%;
    min-width: 500px;
    height: auto;
    border-radius: 10px;
}

.card2{
    position: absolute;
    width: 30%;
    min-width: 300px;
    right: 27%;
    top: 20%;
    
}
.card3{
    position: absolute;
    width: 35%;
    min-width: 300px;
    right: 0%;
}

/* Skills section */

.skills{
    color: var(--color-primary);
    display: flex;
    justify-content: space-around;
}

.skills h3{
    font-family: var(--font-secundary);
    font-size: 3em;
    font-weight: 300;
}

.skill-section{
    width: 100%;
    padding: 2rem 3rem 20rem;
    background-color: var(--background-primary);
    overflow-x: hidden;
}

#text-skill{
    position: relative;
    font-family: var(--font-secundary);
    font-weight: 300;
    font-size: 10em;
    left: 0;
    color: var(--color-terc);
    transition: all .6s  ease-out;
    line-height: 1;
    user-select: none;
    z-index: 1;
    overflow: hidden;
}


/* Scroll Bar */

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(63, 62, 62, 0.8);
    border-radius: 20px;

}




/* Animations */

@keyframes moveBanner{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes socialMedia{
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;

    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}



/*=================== RESPONSIVE ===================*/



@media (max-width: 1130px) {
    
/* About section */

#text-about{
    font-size: 8em;

}


/* Project section */
 
.projects-section{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: none;
}

.projects-section .about-project{
    width: 100%;
}

.projects-section .image-project{
    width: 100%;
}

.projects-section .about-project p{
    max-width: 80%;
}

.img-mobile{
    display: block;
    width: 100%;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 3rem; 
    border-radius: 5px;
    object-fit: cover;
    
}

.cards{
    display: none;
}

.card2{
    right: 0%;
    top: 0%;
}
.card3{
    right: 0%;
}

}

@media (max-width: 768px){

    .container-sm{
        display: none;
    }

    .about-section p{
        padding: 0;
    }

    .projects-section .about-project{
        margin: auto;
        padding-left: 3rem
    }

    .projects-section .image-project{
        width: 100%;
        
    }

    #text-about{
        font-size: 4em;
    
    }

    /* .cards{
        width: 30em;

    }

    .card2{
        width: 13em;
        
    }
    .card3{
        width: 15em;

    } */
    
}


